{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}

    <div id="carouselExampleControls" class="carousel slide topmargin" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            {% for castle in castles %}
                {% if loop.first %}
                    {% set castleCounter = 1 %}
                    <div class="carousel-item active">
                        <div class="row align-items-center center">
                            <div class="col-xs-12 col-sm-12 col-lg-12" align="center">
                                <h1>{{ castleCounter }}. {{ castle.name }} (Main Castle)</h1>
                            </div>
                        </div>
                        <div class="row align-items-center center">
                            {% if castle.name == 'Dwarf' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Ninja' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Vampire' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Elves' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/ElvesCastle/ElvesFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/ElvesCastle/ElvesArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/ElvesCastle/ElvesCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Mages' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/MageCastle/MageFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/MageCastle/MageArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/MageCastle/MageCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Olymp' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row align-items-center center">
                            <div class="col-xs-6 col-sm-6 col-lg-1">
                                <a class="carousel-control-prev paddingleft" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-3" align="center">
                                <a href="{{ path( 'train_army', { 'army': 'Footmen', 'id': castle.id }) }}">
                                    <button type="button" class="btn btn-lg btn-success bodytext" active>Train Footmen</button>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                <a href="{{ path( 'train_army', { 'army': 'Archers', 'id': castle.id }) }}">
                                    <button type="button" class="btn btn-lg btn-success bodytext" active>Train Archers</button>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-3" align="center">
                                <a href="{{ path( 'train_army', { 'army': 'Cavalry', 'id': castle.id }) }}">
                                    <button type="button" class="btn btn-lg btn-success bodytext" active>Train Cavalry</button>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-1">
                                <a class="carousel-control-next paddingright" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center center">
                            <div class="col-xs-12 col-sm-12 col-lg-12" align="center">
                                <table class="background1 table table-inverse table-hover" align="center">
                                    <thead align="center">
                                        <tr>
                                            <th>
                                                <h2>Army Type</h2>
                                            </th>
                                            <th>
                                                <h2>Army Level</h2>
                                            </th>
                                            <th>
                                                <h2>Army HP</h2>
                                            </th>
                                            <th>
                                                <h2>Army Damage</h2>
                                            </th>
                                            <th>
                                                <h2>Army Bonus Damage</h2>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody align="center">
                                    {% for army in allArmy if army.castleId.id == castle.id %}
                                        <tr>
                                            <td>
                                                <h2>{{ army.name }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.level }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.hp }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.damage }}</h2>
                                            </td>
                                            <td>
                                                {% if army.name == 'Footmen' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Cavalry</h2>
                                                {% elseif army.name == 'Archers' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Footmen</h2>
                                                {% elseif army.name == 'Cavalry' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Archers</h2>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">
                                                <h2>NO ARMY IN THIS CASTLE</h2>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% set castleCounter = castleCounter + 1 %}
                    <div class="carousel-item">
                        <div class="row align-items-center center">
                            <div class="col-xs-12 col-sm-12 col-lg-12" align="center">
                                <h1>{{ castleCounter }}. {{ castle.name }}</h1>
                            </div>
                        </div>
                        <div class="row align-items-center center">
                            {% if castle.name == 'Dwarf' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Ninja' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Vampire' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Elves' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/ElvesCastle/ElvesFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/ElvesCastle/ElvesArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/ElvesCastle/ElvesCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Mages' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/MageCastle/MageFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/MageCastle/MageArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/MageCastle/MageCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% elseif castle.name == 'Olymp' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympFootmen.jpg" alt="" height="400" width="400">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympArchers.jpg" alt="" height="500" width="500">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympCavalry.jpg" alt="" height="400" width="400">
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row align-items-center center">
                            <div class="col-xs-6 col-sm-6 col-lg-1">
                                <a class="carousel-control-prev paddingleft" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-3" align="center">
                                <button type="button" class="btn btn-lg btn-success bodytext" active>TRAIN FOOTMEN</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                <button type="button" class="btn btn-lg btn-success bodytext" active>TRAIN ARCHERS</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-3" align="center">
                                <button type="button" class="btn btn-lg btn-success bodytext" active>TRAIN CAVALRY</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-1">
                                <a class="carousel-control-next paddingright" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center center">
                            <div class="col-xs-12 col-sm-12 col-lg-12" align="center">
                                <table class="background1 table table-inverse table-hover" align="center">
                                    <thead align="center">
                                    <tr>
                                        <th>
                                            <h2>Army Type</h2>
                                        </th>
                                        <th>
                                            <h2>Army Level</h2>
                                        </th>
                                        <th>
                                            <h2>Army HP</h2>
                                        </th>
                                        <th>
                                            <h2>Army Damage</h2>
                                        </th>
                                        <th>
                                            <h2>Army Bonus Damage</h2>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    {% for army in allArmy if army.castleId.id == castle.id %}
                                        <tr>
                                            <td>
                                                <h2>{{ army.name }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.level }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.hp }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.damage }}</h2>
                                            </td>
                                            <td>
                                                {% if army.name == 'Footmen' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Cavalry</h2>
                                                {% elseif army.name == 'Archers' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Footmen</h2>
                                                {% elseif army.name == 'Cavalry' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Archers</h2>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">
                                                <h2>NO ARMY IN THIS CASTLE</h2>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

