{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}

    {% if success == true %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Successful army purchase!</strong>
        </div>
    {% endif %}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            {% for castle in castles %}
                {% if loop.first %}
                    {% set castleCounter = 1 %}
                    <div class="carousel-item active">
                        <div class="row align-items-center center">
                            <div class="col-xs-12 col-sm-12 col-lg-12" align="center">
                                <h1>{{ castleCounter }}. {{ castle.name }} (Main Castle)</h1>
                            </div>
                        </div>
                        <div class="row align-items-center center">
                            {% if castle.name == 'Dwarf' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Ninja' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Vampire' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Elfs' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/ElfsCastle/ElfsFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/ElfsCastle/ElfsArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/ElfsCastle/ElfsCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Mages' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/MageCastle/MageFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/MageCastle/MageArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/MageCastle/MageCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Olymp' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row align-items-center center">
                            <div class="col-xs-6 col-sm-6 col-lg-1">
                                <a class="carousel-control-prev paddingleft" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-3" align="center">
                                {% if castle.armyLvl1Building == 0 %}
                                    <button type="button" class="btn btn-lg btn-success bodytext" disabled>Train Footmen</button>
                                    <br><small class="form-text navbarcolor">Build Barracks first</small>
                                {% else %}
                                    <a href="{{ path( 'train_army', { 'army': 'Footmen', 'id': castle.id }) }}">
                                        <button type="button" class="btn btn-lg btn-success bodytext cursor-pointer" active>Train Footmen</button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                {% if castle.armyLvl2Building == 0 %}
                                    <button type="button" class="btn btn-lg btn-success bodytext" disabled>Train Footmen</button>
                                    <br><small class="form-text navbarcolor">Build Shooting Range first</small>
                                {% else %}
                                    <a href="{{ path( 'train_army', { 'army': 'Archers', 'id': castle.id }) }}">
                                        <button type="button" class="btn btn-lg btn-success bodytext cursor-pointer" active>Train Archers</button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-3" align="center">
                                {% if castle.armyLvl3Building == 0 %}
                                    <button type="button" class="btn btn-lg btn-success bodytext" disabled>Train Footmen</button>
                                    <br>
                                    <small class="form-text navbarcolor">Build Stables first</small>
                                {% else %}
                                    <a href="{{ path( 'train_army', { 'army': 'Cavalry', 'id': castle.id }) }}">
                                        <button type="button" class="btn btn-lg btn-success bodytext cursor-pointer" active>Train Cavalry</button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-1">
                                <a class="carousel-control-next paddingright" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center center">
                            <div class="col-xs-12 col-sm-12 col-lg-12" align="center">
                                <table class="background1 table table-inverse table-hover" align="center">
                                    <thead align="center">
                                        <tr>
                                            <th>
                                                <h2>Type</h2>
                                            </th>
                                            <th>
                                                <h2>Amount</h2>
                                            </th>
                                            <th>
                                                <h2>Level</h2>
                                            </th>
                                            <th>
                                                <h2>Health</h2>
                                            </th>
                                            <th>
                                                <h2>Damage</h2>
                                            </th>
                                            <th>
                                                <h2>Bonus Damage</h2>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody align="center">
                                    {% if allArmy is defined %}
                                    {% for army in allArmy if army.castleId.id == castle.id %}
                                        <tr>
                                            <td>
                                                <h2>{{ army.name }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.amount }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.level }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.health }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.damage }}</h2>
                                            </td>
                                            <td>
                                                {% if army.name == 'Footmen' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Cavalry</h2>
                                                {% elseif army.name == 'Archers' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Footmen</h2>
                                                {% elseif army.name == 'Cavalry' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Archers</h2>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">
                                                <h2>NO ARMY IN THIS CASTLE</h2>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="6">
                                                <h2>NO ARMY IN THIS CASTLE</h2>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% set castleCounter = castleCounter + 1 %}
                    <div class="carousel-item">
                        <div class="row align-items-center center">
                            <div class="col-xs-12 col-sm-12 col-lg-12" align="center">
                                <h1>{{ castleCounter }}. {{ castle.name }}</h1>
                            </div>
                        </div>
                        <div class="row align-items-center center">
                            {% if castle.name == 'Dwarf' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/DwarfCastle/DwarfCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Ninja' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/NinjaCastle/NinjaCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Vampire' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/VampireCastle/VampireCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Elfs' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/ElfsCastle/ElfsFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/ElfsCastle/ElfsArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/ElfsCastle/ElfsCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Mages' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/MageCastle/MageFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/MageCastle/MageArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/MageCastle/MageCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% elseif castle.name == 'Olymp' %}
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Footmen</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympFootmen.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Archers</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympArchers.jpg" alt="" height=90% width=90%>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                    <h2>Cavalry</h2>
                                    <img src="/pictures/Units/OlympCastle/OlympCavalry.jpg" alt="" height=90% width=90%>
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row align-items-center center">
                            <div class="col-xs-6 col-sm-6 col-lg-1">
                                <a class="carousel-control-prev paddingleft" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-3" align="center">
                                {% if castle.armyLvl1Building == 0 %}
                                    <button type="button" class="btn btn-lg btn-success bodytext" disabled>Train Footmen</button>
                                    <br>Build Barracks first
                                {% else %}
                                    <a href="{{ path( 'train_army', { 'army': 'Footmen', 'id': castle.id }) }}">
                                        <button type="button" class="btn btn-lg btn-success bodytext cursor-pointer" active>Train Footmen</button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-4" align="center">
                                {% if castle.armyLvl2Building == 0 %}
                                    <button type="button" class="btn btn-lg btn-success bodytext" disabled>Train Footmen</button>
                                    <br>Build Shooting Range first
                                {% else %}
                                    <a href="{{ path( 'train_army', { 'army': 'Archers', 'id': castle.id }) }}">
                                        <button type="button" class="btn btn-lg btn-success bodytext cursor-pointer" active>Train Archers</button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-3" align="center">
                                {% if castle.armyLvl3Building == 0 %}
                                    <button type="button" class="btn btn-lg btn-success bodytext" disabled>Train Footmen</button>
                                    <br>Build Stables first
                                {% else %}
                                    <a href="{{ path( 'train_army', { 'army': 'Cavalry', 'id': castle.id }) }}">
                                        <button type="button" class="btn btn-lg btn-success bodytext cursor-pointer" active>Train Cavalry</button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-1">
                                <a class="carousel-control-next paddingright" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center center">
                            <div class="col-xs-12 col-sm-12 col-lg-12" align="center">
                                <table class="background1 table table-inverse table-hover" align="center">
                                    <thead align="center">
                                    <tr>
                                        <th>
                                            <h2>Type</h2>
                                        </th>
                                        <th>
                                            <h2>Amount</h2>
                                        </th>
                                        <th>
                                            <h2>Level</h2>
                                        </th>
                                        <th>
                                            <h2>Health</h2>
                                        </th>
                                        <th>
                                            <h2>Damage</h2>
                                        </th>
                                        <th>
                                            <h2>Bonus Damage</h2>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    {% if allArmy is defined %}
                                    {% for army in allArmy if army.castleId.id == castle.id %}
                                        <tr>
                                            <td>
                                                <h2>{{ army.name }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.amount }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.level }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.health }}</h2>
                                            </td>
                                            <td>
                                                <h2>{{ army.damage }}</h2>
                                            </td>
                                            <td>
                                                {% if army.name == 'Footmen' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Cavalry</h2>
                                                {% elseif army.name == 'Archers' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Footmen</h2>
                                                {% elseif army.name == 'Cavalry' %}
                                                    <h2>+{{ army.bonusDamage }} damage vs Archers</h2>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">
                                                <h2>NO ARMY IN THIS CASTLE</h2>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="6">
                                                <h2>NO ARMY IN THIS CASTLE</h2>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

