<!DOCTYPE html>
<html>
    <head>
        <title>Castle Game PHP v1.0</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
            <link href="{{ asset('assets/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header>
            <!-- Navigation -->
            <div class="menu" style="position: absolute;z-index: 1">
                <nav class="navbar navbar-expand-lg navbar-light" id="navigation" role="navigation">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            {% if app.user %}
                                {% if app.request.get('_route') == 'user' %}
                                    <li class="nav-item active">
                                        <a class="nav-link selected-menu" href="{{ path('user') }}"><h2>Home</h2><span class="sr-only">(current)</span></a>
                                    </li>
                                {% else %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('user') }}"><h2>Home</h2><span class="sr-only">(current)</span></a>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if app.request.get('_route') == 'homepage' %}
                                    <li class="nav-item active">
                                        <a class="nav-link selected-menu" href="{{ path('homepage') }}"><h2>Home</h2><span class="sr-only">(current)</span></a>
                                    </li>
                                {% else %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('homepage') }}"><h2>Home</h2><span class="sr-only">(current)</span></a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if app.request.get('_route') == 'map' %}
                                <li class="nav-item active">
                                    <a class="nav-link selected-menu" href="{{ path('map') }}"><h2>Map</h2></a>
                                </li>
                            {% else %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('map') }}"><h2>Map</h2></a>
                                </li>
                            {% endif %}
                            {% if app.user %}
                                {% if app.request.get('_route') == 'user_castles' %}
                                    <li class="nav-item active">
                                        <a class="nav-link selected-menu" href="{{ path('user_castles') }}"><h2>Castles</h2></a>
                                    </li>
                                {% else %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('user_castles') }}"><h2>Castles</h2></a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#"><h2>Castles</h2></a>
                                </li>
                            {% endif %}
                            {% if app.user %}
                                {% if app.request.get('_route') == 'user_army' %}
                                    <li class="nav-item active">
                                        <a class="nav-link selected-menu" href="{{ path('user_army') }}"><h2>Army</h2></a>
                                    </li>
                                {% else %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('user_army') }}"><h2>Army</h2></a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#"><h2>Army</h2></a>
                                </li>
                            {% endif %}
                            {% if app.user %}
                                {% if app.request.get('_route') == 'user_battles' %}
                                    <li class="nav-item active">
                                        <a class="nav-link selected-menu" href="{{ path('user_battles') }}"><h2>Battles</h2></a>
                                    </li>
                                {% else %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('user_battles') }}"><h2>Battles</h2></a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#"><h2>Battles</h2></a>
                                </li>
                            {% endif %}
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <span>
                                {% if app.user %}
                                    <div class="menuinformationtextfood">Food: {{ app.user.food }}</div>
                                    <div class="menuinformationtextmetal">Metal: {{ app.user.metal}}</div>
                                {% endif %}
                            </span>
                            <span class="navbar-text">
                                {% if app.user %}
                                    {% if user_messages_count > 0 %}
                                        {% if user_messages_count > 99 %}
                                            <h3>{{ app.user.username }}</h3>
                                            <div class="message-icon-wrapper">
                                                <a href="{{ path( 'user_messages_inbox', {'page': 1} ) }}">
                                                    <img src="{{ asset('pictures/Icons/OldPapyrus.png') }}" alt="BattleReport"><span class="unread-messages-count">99+</span>
                                                </a>
                                            </div>
                                        {% else %}
                                            <h3>{{ app.user.username }}</h3>
                                            <div class="message-icon-wrapper">
                                                <a href="{{ path( 'user_messages_inbox', {'page': 1} ) }}">
                                                    <img src="{{ asset('pictures/Icons/OldPapyrus.png') }}" alt="BattleReport"><span class="unread-messages-count">{{ user_messages_count }}</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <h3>{{ app.user.username }}</h3>
                                        <div class="message-icon-wrapper">
                                            <a href="{{ path( 'user_messages_inbox', {'page': 1} ) }}">
                                                <img src="{{ asset('pictures/Icons/OldPapyrus.png') }}" alt="BattleReport">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <h3>Username</h3>
                                {% endif %}
                            </span>
                            {% if app.user %}
                                <a href="{{ logout_path('main') }}" class="btn btn-info btn-lg bg-danger active bodytext">LOGOUT</a>
                            {% else %}
                                <a href="{{ logout_path('main') }}" class="btn btn-info btn-lg bg-info disabled bodytext">LOGOUT</a>
                            {% endif %}
                        </form>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <section class="container-fluid bodytext body">
                {% block body %}
                {% endblock body %}
            </section>
        </main>
        <footer>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        </footer>
    </body>
</html>
