{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                {% for castle in castles %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                            <div class="row align-items-center center">
                                <div class="col">

                                </div>
                                <div class="col">
                                    <img class="d-block w-100" src="{{ castle.castlePicture }}" alt="" title="{{ castle.name }}" height="400" width="400"><br>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="row align-items-center center">
                                <div class="col-12 text-center">
                                    <table class="background1 table table-inverse table-hover" align="center">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <h2>Castle Name</h2>
                                                </th>
                                                <th>
                                                    <h2>Castle level</h2>
                                                </th>
                                                <th>
                                                    <h2>Food mine level</h2>
                                                </th>
                                                <th>
                                                    <h2>Metal mine level</h2>
                                                </th>
                                                <th>
                                                    <h2>Footmen building level</h2>
                                                </th>
                                                <th>
                                                    <h2>Archers building level</h2>
                                                </th>
                                                <th>
                                                    <h2>Cavalry building level</h2>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h2>{{ castle.name }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.castleLvl }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.mineFoodLvl }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.mineMetalLvl }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.armyLvl1Building }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.armyLvl2Building }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.armyLvl3Building }}</h2>
                                                </td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <h2>Upgrades</h2>
                                                </td>
                                                <td>
                                                    {% if castle.castleLvl >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Castle', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.castleLvl == 0 %}
                                                        Costs 100 Food
                                                    {% elseif castle.castleLvl == 1 %}
                                                        Costs 500 Food and 500 Metal
                                                    {% elseif castle.castleLvl == 2 %}
                                                        Costs 1500 Food and 1500 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.mineFoodLvl >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Farm', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.mineFoodLvl == 0 %}
                                                        Costs 100 Food
                                                    {% elseif castle.mineFoodLvl == 1 %}
                                                        Costs 250 Food and 100 Metal
                                                    {% elseif castle.mineFoodLvl == 2 %}
                                                        Costs 500 Food and 250 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.mineMetalLvl >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Metal Mine', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.mineMetalLvl == 0 %}
                                                        Costs 200 Food
                                                    {% elseif castle.mineMetalLvl == 1 %}
                                                        Costs 300 Food and 300 Metal
                                                    {% elseif castle.mineMetalLvl == 2 %}
                                                        Costs 500 Food and 500 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.armyLvl1Building >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Footmen', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.armyLvl1Building == 0 %}
                                                        Costs 500 Food
                                                    {% elseif castle.armyLvl1Building == 1 %}
                                                        Costs 1000 Food and 500 Metal
                                                    {% elseif castle.armyLvl1Building == 2 %}
                                                        Costs 1500 Food and 1000 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.armyLvl2Building >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Archers', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.armyLvl2Building == 0 %}
                                                        Costs 500 Food and 500 Metal
                                                    {% elseif castle.armyLvl2Building == 1 %}
                                                        Costs 1000 Food and 1000 Metal
                                                    {% elseif castle.armyLvl2Building == 2 %}
                                                        Costs 1500 Food and 1500 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.armyLvl3Building >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Cavalry', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.armyLvl3Building == 0 %}
                                                        Costs 1000 Food and 1000 Metal
                                                    {% elseif castle.armyLvl3Building == 1 %}
                                                        Costs 2000 Food and 2000 Metal
                                                    {% elseif castle.armyLvl3Building == 2 %}
                                                        Costs 3500 Food and 3500 Metal
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table><br>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <div class="row align-items-center center">
                                <div class="col">

                                </div>
                                <div class="col">
                                    <img class="d-block w-100" src="{{ castle.castlePicture }}" alt="" title="{{ castle.name }}" height="400" width="400"><br>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="row-12 align-items-center center">
                                <div class="col-12 text-center">
                                    <table class="background1 table table-inverse table-hover" align="center">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <h2>Castle Name</h2>
                                                </th>
                                                <th>
                                                    <h2>Castle level</h2>
                                                </th>
                                                <th>
                                                    <h2>Food mine level</h2>
                                                </th>
                                                <th>
                                                    <h2>Metal mine level</h2>
                                                </th>
                                                <th>
                                                    <h2>Footmen building level</h2>
                                                </th>
                                                <th>
                                                    <h2>Archers building level</h2>
                                                </th>
                                                <th>
                                                    <h2>Cavalry building level</h2>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h2>{{ castle.name }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.castleLvl }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.mineFoodLvl }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.mineMetalLvl }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.armyLvl1Building }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.armyLvl2Building }}</h2>
                                                </td>
                                                <td>
                                                    <h2>{{ castle.armyLvl3Building }}</h2>
                                                </td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <h2>Upgrades</h2>
                                                </td>
                                                <td>
                                                    {% if castle.castleLvl >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Castle', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.castleLvl == 0 %}
                                                        Costs 100 Food
                                                    {% elseif castle.castleLvl == 1 %}
                                                        Costs 500 Food and 500 Metal
                                                    {% elseif castle.castleLvl == 2 %}
                                                        Costs 1500 Food and 1500 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.mineFoodLvl >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Farm', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.mineFoodLvl == 0 %}
                                                        Costs 100 Food
                                                    {% elseif castle.mineFoodLvl == 1 %}
                                                        Costs 250 Food and 100 Metal
                                                    {% elseif castle.mineFoodLvl == 2 %}
                                                        Costs 500 Food and 250 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.mineMetalLvl >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Metal Mine', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.mineMetalLvl == 0 %}
                                                        Costs 200 Food
                                                    {% elseif castle.mineMetalLvl == 1 %}
                                                        Costs 300 Food and 300   Metal
                                                    {% elseif castle.mineMetalLvl == 2 %}
                                                        Costs 500 Food and 500 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.armyLvl1Building >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Footmen', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.armyLvl1Building == 0 %}
                                                        Costs 500 Food
                                                    {% elseif castle.armyLvl1Building == 1 %}
                                                        Costs 1000 Food and 500 Metal
                                                    {% elseif castle.armyLvl1Building == 2 %}
                                                        Costs 1500 Food and 1000 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.armyLvl2Building >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Archers', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.armyLvl2Building == 0 %}
                                                        Costs 500 Food and 500 Metal
                                                    {% elseif castle.armyLvl2Building == 1 %}
                                                        Costs 1000 Food and 1000 Metal
                                                    {% elseif castle.armyLvl2Building == 2 %}
                                                        Costs 1500 Food and 1500 Metal
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if castle.armyLvl3Building >= 3 %}
                                                        <button type="button" class="btn btn-lg btn-primary bodytext" disabled>MAX</button>
                                                    {% else %}
                                                        <a href="{{ path( 'upgrade', { 'building': 'Cavalry', 'id': castle.id }) }}">
                                                            <button type="button" class="btn btn-lg btn-success bodytext" active>UPGRADE</button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    {% if castle.armyLvl3Building == 0 %}
                                                        Costs 1000 Food and 1000 Metal
                                                    {% elseif castle.armyLvl3Building == 1 %}
                                                        Costs 2000 Food and 2000 Metal
                                                    {% elseif castle.armyLvl3Building == 2 %}
                                                        Costs 3500 Food and 3500 Metal
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table><br>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% endblock %}
