{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="center-of-page">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col" align="center">
                <h1>Train {{ amount }} {{ army }} for</h1>
                <div class="informationtextfood"><h3>Food: {{ prizeFood }}</h3></div>
                <div class="informationtextmetal"><h3>Metal: {{ prizeMetal}}</h3></div>
                <div class="traintime"><h3>Train time: {{ trainTime }}</h3></div>
            </div>
        </div>
        {% if message is defined %}
            <div class="row">
                <div class="col" align="center">
                    <h2 class="text-danger">{{ message }}</h2>
                </div>
            </div>
        {% endif %}
        <br>
        <div class="row">
            <div class="col" align="center">
                {{ form_start(form) }}
                {{ form_widget(form.Confirm, {'attr': {'type': 'button', 'class': 'btn btn-lg btn-success bodytext cursor-pointer'}}) }}
                {{ form_end(form) }}
            </div>
            <div class="col" align="center">
                <a href="{{ path('train_army', { 'id': id, 'army': army }) }}" class="btn btn-info btn-lg bg-danger active bodytext cursor-pointer">Decline</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
