{% extends 'view/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/test.css') }}">
{% endblock head %}

{% block body %}
    {% if success == true %}
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Successful building purchase!</strong>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    {% endif %}
    <div class="icon-wrapper"><i class="fas fa-envelope"></i><span class="badge">100</span></div>
<div class="background2">
    <img class="background-papyrus" src="/pictures/Messages/BattleReportBackground.png" alt="">
    <img class="crow-flying" src="{{ asset('pictures/Messages/FlyingCrow.png') }}" alt="">
    <img class="crow-landing" src="{{ asset('pictures/Messages/LandingRaven.png') }}" alt="">
    <div class="smaller-div">
        <div class="row align-items-center center">
            <div class="col-12">
                {% if totalPages > 0 %}
                <table class="table table-bordered table-inverse table-hover">
                    <thead>
                        <tr>
                            <th colspan="4">Inbox</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for finalTableArrayResultOne in finalTableArrayResult %}
                        <tr>
                            {% if finalTableArrayResultOne is iterable %}
                                {#{% for details in finalTableArrayResultOne %}#}
                                    {#<td>{{ details }}</td>#}
                                {#{% endfor %}#}
                                <td><a href=href="{{ path('user') }}">{{ finalTableArrayResultOne.id }}</a></td>
                                <td>{{ finalTableArrayResultOne.1 }}<br>messages</td>
                                <td>{{ finalTableArrayResultOne.2 }}</td>
                                <td>{{ finalTableArrayResultOne.trainAmount }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <table class="table table-inverse table-hover">
                    <thead>
                        <tr>
                            <th>Inbox</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>You have no messages</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <div class="row align-items-center center">
            <div class="col-12">
                {% if totalPages > 0 %}
                    <div class="pagination">
                        <ul>
                            {% for i in 1..totalPages %}
                                {% if loop.first %}
                                    <li class="prev">
                                        {% if currentPage==1 %}
                                            <a href="{{path('view_test_template',{'page':currentPage-1})}}">
                                                <button type="button" class="btn" disabled>←</button>
                                            </a>
                                        {% else %}
                                            <a href="{{path('view_test_template',{'page':currentPage-1})}}">
                                                <button type="button" class="btn cursor-pointer">←</button>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                                    <li class="next">
                                        {% if currentPage == loop.index %}
                                            <a href="{{path('view_test_template',{'page':loop.index})}}">
                                                <button type="button" class="btn" disabled>{{ loop.index }}</button>
                                            </a>
                                        {% else %}
                                            <a href="{{path('view_test_template',{'page':loop.index})}}">
                                                <button type="button" class="btn cursor-pointer">{{ loop.index }}</button>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% if loop.last %}
                                    <li class="next">
                                        {% if currentPage==totalPages %}
                                            <a href="{{path('view_test_template',{'page':currentPage+1})}}">
                                                <button type="button" class="btn" disabled >→</button>
                                            </a>
                                        {% else %}
                                            <a href="{{path('view_test_template',{'page':currentPage+1})}}">
                                                <button type="button" class="btn cursor-pointer">→</button>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}