{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock head %}

{% block body %}

    <div class="container-fluid">
        <h1>{{ form(form) }}</h1>
        <form name="registrationForm">
            <input type="range" name="ageInputName" id="ageInputId" value="24" min="1" max="100" oninput="ageOutputId.value = ageInputId.value"><br>
            <output name="ageOutputName" id="ageOutputId">0</output>
        </form>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
        {% for user in users %}
        {% for castle in castles %}
            {% if loop.first %}
                <div class="carousel-item active">
                    <div class="row align-items-center center">
                        <div class="col">

                        </div>
                        <div class="col">
                            <img class="d-block w-100" src="{{ castle.castlePicture }}" alt="" title="{{ castle.name }}" height="400" width="400"><br>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                    <div class="row align-items-center center">
                        <div class="col-12">
                            <table class="background1 table table-inverse table-hover">
                                <tr>
                                    <td>
                                        <h2>ID</h2>
                                    </td>
                                    <td>
                                        <h2>{{ user.id }}</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Username</h2>
                                    </td>
                                    <td>
                                        <h2>{{ user.username }}</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Coordinates</h2>
                                    </td>
                                    <td>
                                        <h2>{{ user.coordinates }}</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Main Castle</h2>
                                    </td>
                                    <td>
                                        <img src="{{ user.castleIcon }}" alt="" title="{{ castles.0.name }}">
                                    </td>
                                </tr>
                            </table><br>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="carousel-item">
                    <div class="row align-items-center center">
                        <div class="col">

                        </div>
                        <div class="col">
                            <img class="d-block w-100" src="{{ castle.castlePicture }}" alt="" title="{{ castle.name }}" height="400" width="400"><br>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                    <div class="row-12 align-items-center center">
                        <div class="col-12">
                            <table class="background1 table table-inverse table-hover" width="1200">
                                <tr>
                                    <td>
                                        <h2>ID</h2>
                                    </td>
                                    <td>
                                        <h2>{{ user.id }}</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Username</h2>
                                    </td>
                                    <td>
                                        <h2>{{ user.username }}</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Coordinates</h2>
                                    </td>
                                    <td>
                                        <h2>{{ user.coordinates }}</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Main Castle</h2>
                                    </td>
                                    <td>
                                        <img src="{{ user.castleIcon }}" alt="" title="{{ castles.0.name }}">
                                    </td>
                                </tr>
                            </table><br>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>

{% endblock body %}