{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}
    <div style="background:transparent !important" class="jumbotron text-center">
        <div class="row">
            <div class="col" align="center">
                <h1>Choose how many {{ army }} you want to train</h1>
            </div>
        </div>
        <br>
        {{ form_start(form)}}
            <div class="form-group">
                <label  class="navbarcolor" for="app_bundle_user_register_Username">Amount</label><br/>
                {{ form_widget(form.Amount) }}<br>
                <small id="usernameHelp" class="form-text text-muted navbarcolor">Enter amount here</small>
                <br>
                <h4>You can train maximum {{ maxAmount }} units with your resources</h4>
                <br>
                {{ form_widget(form.Train, {'attr': {'type': 'button', 'class': 'btn btn-lg btn-success bodytext'}}) }}
            </div>
        {{ form_end(form) }}
        <br>
        <div class="row">
            <div class="col" align="center">
                <a href="{{ path('user_army') }}" class="btn btn-info btn-lg bg-danger active bodytext">Decline</a>
            </div>
        </div>
    </div>
{% endblock %}

