{% extends 'view/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/user_messages_inbox.css') }}">
{% endblock %}

{% block body %}
    <div class="background2">
        <img class="background-papyrus" src="/pictures/Messages/BattleReportBackground.png" alt="papyrus">
        <img class="crow-flying" src="{{ asset('pictures/Messages/FlyingCrow.png') }}" alt="crow-flying">
        <img class="crow-landing" src="{{ asset('pictures/Messages/LandingRaven.png') }}" alt="crow-landing">
        <div class="smaller-div">
            <div class="row align-items-center center">
                <div class="col-12">
                    {% if totalPages > 0 %}
                        <table class="table table-bordered table-inverse table-hover">
                            <thead>
                            <tr>
                                <th colspan="4">Messages from {{ sender }}</th>
                            </tr>
                            <tr>
                                <th>Sender</th>
                                <th>Message date</th>
                                <th>Message</th>
                                <th>Remove Message</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for finalTableArrayResultOne in finalTableArrayResult %}
                                <tr>
                                    {% if finalTableArrayResultOne is iterable %}
                                        <td>{{ finalTableArrayResultOne.senderUsername }}</td>
                                        <td>{{ finalTableArrayResultOne.1 }}
                                        <td>{{ finalTableArrayResultOne.message }}</td>
                                        <td>
                                            <a href="{{ path('user_messages_inbox_sender_delete',
                                                        { 'id': finalTableArrayResultOne.id, 'sender': finalTableArrayResultOne.senderUsername, 'page': currentPage })
                                                        }}" class="btn btn-info btn-lg bg-danger active bodytext">
                                                Delete
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <table class="table table-inverse table-hover">
                            <thead>
                            <tr>
                                <th colspan="4">Messages from {{ sender }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>You have no messages</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
            <div class="row align-items-center center">
                <div class="col-12">
                    {% if totalPages > 0 %}
                        <div class="pagination">
                            <ul>
                                {% for i in 1..totalPages %}
                                    {% if loop.first %}
                                        <li class="prev">
                                            {% if currentPage==1 %}
                                                <a href="{{ path('user_messages_inbox_sender', {'sender': sender, 'page':currentPage-1}) }}">
                                                    <button type="button" class="btn" disabled>←</button>
                                                </a>
                                            {% else %}
                                                <a href="{{path('user_messages_inbox_sender',{'sender': sender, 'page':currentPage-1})}}">
                                                    <button type="button" class="btn cursor-pointer">←</button>
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                    <li class="next">
                                        {% if currentPage == loop.index %}
                                            <a href="{{path('user_messages_inbox_sender',{'sender': sender, 'page':loop.index})}}">
                                                <button type="button" class="btn" disabled>{{ loop.index }}</button>
                                            </a>
                                        {% else %}
                                            <a href="{{path('user_messages_inbox_sender',{'sender': sender, 'page':loop.index})}}">
                                                <button type="button" class="btn cursor-pointer">{{ loop.index }}</button>
                                            </a>
                                        {% endif %}
                                    </li>
                                    {% if loop.last %}
                                        <li class="next">
                                            {% if currentPage==totalPages %}
                                                <a href="{{path('user_messages_inbox_sender',{'sender': sender, 'page':currentPage+1})}}">
                                                    <button type="button" class="btn" disabled >→</button>
                                                </a>
                                            {% else %}
                                                <a href="{{path('user_messages_inbox_sender',{'sender': sender, 'page':currentPage+1})}}">
                                                    <button type="button" class="btn cursor-pointer">→</button>
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <a href="{{ path('user_messages_send_to_receiver', {'receiver': sender}) }}">
                <button type="button" class="btn btn-lg btn-success bodytext cursor-pointer send-a-message-button" active>Send a message</button>
            </a><br>
            <a class="btn btn-info btn-lg bg-danger active bodytext cursor-pointer send-a-message-button" href="{{ path('user_messages_inbox', {'page': 1}) }}">Back</a>
        </div>
    </div>
{% endblock %}

