{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}

    <div class="center-of-page">
    <div style="background:transparent !important" class="jumbotron text-center">
    <h1 class="navbarcolor">Login</h1>
    <form name="authenticate" action="{{ path('security_login') }}" method="post">
        {% if error %}
            <div class="text-warning"><h1>{{ error.messageKey|trans(error.messageData, 'security') }}</h1></div>
        {% endif %}

        <div class="form-group">
            <label class="navbarcolor" for="username">Username</label><br/>
            <input type="text" id="username" class="form-control" name="_username">
            <small id="username" class="form-text navbarcolor">Type in your username.</small><br>

            <label class="navbarcolor" for="password">Password</label><br/>
            <input type="password" id="password" class="form-control" name="_password">
            <small id="password" class="form-text navbarcolor">Type in your password.</small>
        </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="user" value="{{ path('user') }}" />
            <input type="hidden" name="security_login" value="{{ path('security_login') }}" />

            <a class="btn btn-lg btn-success">
            <label class="navbarcolor" for="submit"></label>
            <input type="submit" id="submit" class="btn btn-primary btn-outline-success btn-lg active bodytext cursor-pointer" value="LOGIN"></a>
    </form>
    </div>
    </div>

{% endblock body %}
